@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#07020D] text-white;
  }
}

@layer utilities {
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }

  .animate-shine {
    animation: shine 5s linear infinite;
  }
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.noscrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #dcdada; 
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #6315db;
  border-radius: 4px;
  cursor: grab;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #5111b3;
}

.scrollbar-custom::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}