@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#07020D] text-white;
  }
}

@layer utilities {
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }

  .animate-shine {
    animation: shine 5s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
  }
  .animate-marquee {
     animation: marquee 26s linear infinite; 
  }

  
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.noscrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #dcdada; 
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #6315db;
  border-radius: 4px;
  cursor: grab;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #5111b3;
}

.scrollbar-custom::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}



html,
body {
  height: 100%;
  overscroll-behavior-y: contain; /* optional: prevent bouncing */
}

#authentication {
  height: 100dvh; /* modern units for dynamic viewport */
}


.menuTable{
  @apply bg-transparent text-white text-left
}
.menuTable th{
  @apply border border-[#6315db]/30 text-base font-medium
}
.menuTable td{
  @apply border border-[#6315db]/30 text-sm md:text-base font-normal
}